
<div class="container-fluid">
            <h1>Admin</h1>
            <h2>User</h2>
            <div class = "table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span>Username</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span>Password</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span>Role</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="Username">
                    </td>
                    <td>
                        <input type="password" class="form-control" placeholder="Password">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="role1, role2">
                    </td>
                    <td>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>alice</td>
                    <td></td>
                    <td>student</td>
                    <td>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>bob</td>
                    <td></td>
                    <td>faculty | admin</td>
                    <td>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>charlie</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
            </div>
</div>