

<div class="container-fluid">
        <script src="views/forms/forms.controller.js"></script>
            <h1>Forms</h1>
            <ul class="nav nav-tabs">
                <li ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a href="#/forms">Forms</a></li>
                <li ng-class="{'active' : $location.url().indexOf('form-fields') != -1}"><a href="#/form-fields">Fields</a></li>
            </ul>
            <form>
                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <label for="inputFirstname">Firstname: </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputFirstname" placeholder="Firstname">
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <label for="inputLastname">Lastname: </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputLastname" placeholder="Lastname">
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <label for="inputDateofBirth">Date of Birth: </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="inputDateofBirth" placeholder="select date">
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <label for="inputGender">Gender: </label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" id="inputGender" placeholder="select gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <label>Roles: </label>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Admin
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Strudent
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                User
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <label>License Agreement: </label>
                    </div>
                    <div class="col-sm-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadio1" value="options" checked>
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadio2" value="options" >
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </form>
            <hr class="divider">
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <label for="inputNewField">Add New Field: </label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="inputNewField" placeholder="select type">
                        <option>Single Line Text</option>
                        <option>Date</option>
                        <option>Dropdown</option>
                        <option>Checkboxes</option>
                        <option>Radio buttons</option>
                        <option>Paragraph Text</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </div>
</div>
